/* App.css */

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: whitesmoke;
  padding: 20px;
}

h1 {
  margin-top: 20px;
}

.form-container {
  background-color: orange;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  min-width: 300px; /* Set minimum width to ensure it's at least a certain size */
  width: 100%; /* Make form container full width */
  max-width: 400px; /* Set maximum width to prevent stretching on larger screens */
}

.form-container h2 {
  margin-bottom: 20px;
  text-align: center;
}

.form-group {
  margin-bottom: 20px;
  display: flex; /* Display form items in a row */
  flex-direction: column; /* Stack form items vertically */
}

.form-group label {
  font-weight: 500;
  margin-bottom: 5px;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group input[type="password"],
.form-group input[type="submit"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  box-sizing: border-box;
}

.form-group input[type="submit"] {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.form-group input[type="submit"]:hover {
  background-color: #0056b3;
}
